%mont-700 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

%muli-700 {
  font-family: "Mulish-Bold", sans-serif;
  font-weight: 700;
}
%muli-600 {
  font-family: "Mulish-SemiBold", sans-serif;
  font-weight: 600;
}
%muli-400 {
  font-family: "Mulish-Regular", sans-serif;
  font-weight: 400;
}

$bgc: #FBF3FF;
$basic: #4F596A;
$title: #001A49;
$accent-bg: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
$accent: #9F07FF;